

/*======== Variables =========*/

:root {
  --hue: 297;
  --sat: 73%;
  --lig: 24%;
  --first-clr: hsl(var(--hue), var(--sat), var(--lig));
  --first-clr-alt: hsla(var(--hue), var(--sat), var(--lig), .8)
}

/*======== Global Styles =========*/

*{
  box-sizing: border-box;
}


body{
margin: 0 ;
font-family: monospace;
overflow-x: hidden;

}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* =============== header ================ */

header{
  color: white;
  background-color: var(--first-clr-alt);
  position: fixed;
  width: 100%;
  z-index: 100;

}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width :1400px;
  margin: 0 auto;
  padding: 0 1rem;
  /* border: 2px solid blue; */
}

.header__container h1{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  color: white;
}


.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  /* border: 2px solid red; */
  

}
.nav a{
  text-decoration: none;
  color:  white;
  text-transform: capitalize;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: 20px;
  transition: 0.3s;
  font-size: 1.1rem;

  
}
.nav a:hover{
background-color: white;
color: var(--first-clr);
}


main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  gap: 1rem;
  background-color:rgb(187, 30, 174);
  padding: 5rem 0;
  flex-wrap: wrap;
}

main h1{
  color: white;
  font-size: 40px;
  text-decoration:underline;

}

.details{
  width: 40%;
  background-color:white;
  padding: 1rem;
  line-height: 2.5rem;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1rem;
  
  
}


.card{
  
  background-color: white;
  width: 55%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  padding: 0 1rem 1rem;
  
}

.card h3{
  font-size: 30px;
  text-decoration:underline;
}

.card__driver{
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: 2px solid gray;
  width: 100%;
  padding: 0 0.5rem;
  flex-wrap: wrap;
  
}



.card__driver img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0%  35%;
  border: 2px solid gray;
}

.card__driver li{
  font-size: 20px;
  padding-bottom: 1.3rem;

}


.card__buttons button{
  font-size: 1.2rem;
  border: 1px solid gray;
  padding:  0.5rem  3rem;
  border-radius: 10px;
  margin: 1rem  2rem 0;
  transition: 0.3s;
}

.accept:hover{
  transform:scale(1.1);
  color: white;
  background-color: green;
}
.cancel:hover{
  transform:scale(1.1);
  color: white;
  background-color: red;
}



  /* =============== footer ================ */

  footer{
      margin-top: 0.2rem;
      background-color: var(--first-clr);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  /* Up & Down Section */
  .f__logo{
      color: white;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 2px;
      padding: 5px 10px;
      font-size: 35px;
      align-self: flex-start;
  }

  .up__section{border-bottom: 1px solid #fff;}

  .up__section, .down__section{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1% 0;
      margin: 5px;
      width: 80%;
      flex-wrap: wrap;
  }

  .up__section   ul,
  .down__section ul
  {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0 15px;
  }
  .up__section   ul li,
  .down__section ul li {
      padding: .5rem 0;

  }
  .up__section   h1,
  .down__section h1
  {
      color: #ffffff;
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
  }

  .up__section   ul a,
  .down__section ul a
  {
      font-size: 14px;
      color: rgb(167, 150, 150);
      transition: .3s;
      
  }

  .up__section   ul a:hover,
  .down__section ul a:hover
  {
      color: white;
      /* text-decoration:; */

  }


  .down__section ul p{
      font-size: 13px;
      color: #ddd;
      margin: 0;
  }


  .social__icons{display: flex;}

  .social__icons a{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin: 0 5px;
      background-color: #fff;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, .1);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--first-clr);
      transition: .3s;
      font-size: 1.2rem;
      padding: 1rem;
  }

  .social__icons a:hover{
  background-color:var(--first-clr-alt);
  color: white;
  }

  .search input{
      height: 35px;
      width: 160px;
      padding: 0 10px;
      outline: none;
      border: 1px solid hsl(var(--hue), var(--sat), 15%)
  }

  .copyright{
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      color: #b3b3b3;
  }

  @media (max-width: 1024px){
      .search{
          margin: 20px auto;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }
      .search h1{margin: 15px;}
  }

  @media (max-width: 720px){
      .f__logo{
          font-size: 30px;
          align-self: center;
          border: 1px solid #545562;
      }

      .up__section,
      .down__section{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .up__section   ul h1,
      .down__section ul h1,
      .social h1{
          font-size: 18px;
          text-align: center;
      }
      .up__section   ul li,
      .down__section ul li{
          text-align: center;
          margin: 10px;
      }
  }


