/*======== Variables =========*/

:root {
  --hue: 297;
  --sat: 73%;
  --lig: 24%;
  --first-clr: hsl(var(--hue), var(--sat), var(--lig));
  --first-clr-alt: hsla(var(--hue), var(--sat), var(--lig), .8)
}

/*======== Global Styles =========*/

*{
  box-sizing: border-box;
}


body{
  margin: 0 ;
font-family: sans-serif;
overflow-x: hidden;
/* height: 170rem; */

}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* =============== header ================ */

header{
  color: white;
  background-color: var(--first-clr-alt);
  position: fixed;
  width: 100%;
  z-index: 100;

}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width :1400px;
  margin: 0 auto;
  padding: 0 1rem;
  /* border: 2px solid blue; */
}

.header__container h1{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  color: white;
}


.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  /* border: 2px solid red; */
  

}
.nav a{
  text-decoration: none;
  color:  white;
  transition: 0.3s;
  text-transform: capitalize;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: 20px;
  
}
.nav i {
  font-size: 1.4rem;
}
.nav a:hover{
background-color: white;
color: var(--first-clr);
}





/* =============== main ================ */

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(17deg,#2980b9, #8e44ad);
  /* max-width: 100%;
  height: 700px; */
  background-position: center;
  background-size: cover;
  /* padding: 7rem 0 4rem; */
  
}


form{
  margin: 10rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 7rem 0; */
  gap: 0.5rem;
  padding: 4rem 1.5rem 2rem;
  border-radius: 10px;
 background-color: rgb(255, 255, 255);
  /* width: 500px; */
  /* height: 80vh; */
  color: black;
}

form input{
  padding: 0.9rem .5rem .5rem;
  color: gray;
  outline: none;
  font-size: 22px;
  width: 470px;
  margin-bottom: 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid gray;

}
form input:focus::placeholder {
  transform: translateY(-20px)translateX(-100px)scale(.6);
  color: #2980b9;
  transition: .3s;
}
form input:focus {
  border-bottom: 2px solid #2980b9;
}

form input::placeholder {
  font-size: 1.3rem;
  color: gray;
  
}



.forgot{
 margin-bottom: 1.5rem;
 /* justify-self: start; */
 align-self: flex-start;
 padding-left: 10px;
}

.forgot a {
  color: gray;  
}

.forgot a:hover{
  text-decoration: underline;
}

.submit{
  background-color: var(--first-clr-alt);
  border-radius: 100px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  color: white;
  transition: 0.3s;
  width: 90%;
  padding: .8rem 0;
}

.submit:hover{
  background-color: var(--first-clr);
  transform:scale(1.01);
}


.member{
  margin-top: 30px;
}

.member a:hover {
  text-decoration:underline;
}


    /* =============== footer ================ */

    footer{
      /* margin-top: 3rem; */
      background-color: var(--first-clr);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  /* Up & Down Section */
  .f__logo{
      color: white;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 2px;
      padding: 5px 10px;
      font-size: 35px;
      align-self: flex-start;
  }

  .up__section{border-bottom: 1px solid #fff;}

  .up__section, .down__section{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1% 0;
      margin: 5px;
      width: 80%;
      flex-wrap: wrap;
  }

  .up__section   ul,
  .down__section ul
  {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0 15px;
  }
  .up__section   ul li,
  .down__section ul li {
      padding: .5rem 0;

  }
  .up__section   h1,
  .down__section h1
  {
      color: #ffffff;
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
  }

  .up__section   ul a,
  .down__section ul a
  {
      font-size: 14px;
      color: rgb(167, 150, 150);
      transition: .3s;
      
  }

  .up__section   ul a:hover,
  .down__section ul a:hover
  {
      color: white;
      /* text-decoration:; */

  }


  .down__section ul p{
      font-size: 13px;
      color: #ddd;
      margin: 0;
  }


  .social__icons{display: flex;}

  .social__icons a{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin: 0 5px;
      background-color: #fff;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, .1);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--first-clr);
      transition: .3s;
      font-size: 1.2rem;
      padding: 1rem;
  }

  .social__icons a:hover{
  background-color:var(--first-clr-alt);
  color: white;
  }

  .search input{
      height: 35px;
      width: 160px;
      padding: 0 10px;
      outline: none;
      border: 1px solid hsl(var(--hue), var(--sat), 15%)
  }

  .copyright{
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      color: #b3b3b3;
  }

  @media (max-width: 1024px){
      .search{
          margin: 20px auto;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }
      .search h1{margin: 15px;}
  }

  @media (max-width: 720px){
      .f__logo{
          font-size: 30px;
          align-self: center;
          border: 1px solid #545562;
      }

      .up__section,
      .down__section{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .up__section   ul h1,
      .down__section ul h1,
      .social h1{
          font-size: 18px;
          text-align: center;
      }
      .up__section   ul li,
      .down__section ul li{
          text-align: center;
          margin: 10px;
      }
  }